<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend' _package='swpackage' _theme='blank'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a>
						</td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Vážený(á) {{var customer.name}}</strong>,<br/>
                            vítejte na e-shopu {{var store.getFrontendName()}}. Pro vstup do svého účtu používejte <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Přihlásit se</a>, nebo <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Můj účet.</a></p>
                          <p>Po přihlášení do Vašeho účtu budete mít následující možnosti a výhody:</p>
                            <ul>
                                <li>Rychlá objednávka zboží</li>
                                <li>Kontrola objednávek</li>
                                <li>Prohledávání historie nákupů</li>
                                <li>Změna údajů účtu</li>
                                <li>Změna vstupního hesla</li>
                                <li>Správa adresářů pro fakturaci a dodávky zboží</li>
                            </ul>
                            <p>Jestliže máte nějáké dotazy, napište nám na e-mail <a href="mailto:%7B%7Bconfig%20path=%27trans_email/ident_support/email%27%7D%7D" style="color: rgb(30, 126, 200);">{{config path='trans_email/ident_support/email'}}</a>, nebo volejte na číslo: {{config path='general/store_information/phone'}} {{customVar code=cz_store_hours}}</p>
                            <br/><br/>
                            <p>Děkujeme Vám za registraci!</p>
                            <p>S pozdravem {{var customer.name}}</p>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
